<template>
<v-container>
  <div class="mb-3">
    <h2> {{currentCategory.name}} </h2>
  </div>
   <v-card class="mb-3 pa-3">
      <v-form v-model="valid">
        <v-layout row wrap >

          <!-- 日付 -->
          <v-flex xs6 class="pa-2">
            <v-menu v-model="dateMenu" :close-on-content-click="false" :nudge-right="40" transition="scale-transition"
              offset-y full-width min-width="290px">
              <template v-slot:activator="{ on }">
                <v-text-field v-model="form.when" label="日付" prepend-icon="event" readonly v-on="on">
                </v-text-field>
              </template>
              <v-date-picker v-model="form.when" @input="dateMenu = false"></v-date-picker>
            </v-menu>
          </v-flex>

          <!-- 買ったもの -->
          <v-flex xs6 class="pa-2">
            <v-text-field
                v-model="form.what"
                label="買ったもの"
                required
                :rules="textRules"
                prepend-icon="shopping_cart"
              ></v-text-field>
          </v-flex>

          <!-- お金 -->
          <v-flex xs6 class="pa-2">
            <v-text-field
                v-model="form.cost"
                label="円"
                required
                :rules="numRules"
                prepend-icon="attach_money"
              ></v-text-field>
          </v-flex>

          <!-- 買った人 -->
          <v-flex xs6 class="pa-2">
            <v-text-field
                v-model="form.who"
                label="買った人"
                required
                :rules="textRules"
                prepend-icon="person"
              ></v-text-field>
          </v-flex>

        </v-layout>

        <v-layout row wrap class="mt-4 red--text">
          {{rtnMsg}}
          <v-spacer></v-spacer>
          <v-btn @click="submit" :disabled="!valid||form.when==''" color="primary">submit</v-btn>
        </v-layout>
      </v-form>
    </v-card>
  <item-table/>
</v-container>
</template>

<script>
import { mapState } from 'vuex'
import ItemTable from '@/components/ItemTable'

export default {
  components: {
    ItemTable
  },
  computed: {
    ...mapState([
      'familyName',
      'categories',
      'currentCategory'
    ])
  },
  data () {
    return {
      drawer: false,
      valid: false,
      form: {
        when: '',
        what: '',
        cost: null,
        who: '',
        categoryId: ''
      },
      numRules: [
        v => !!v || '必須です',
        v => /^[0-9]+$/.test(v) || '整数を入力してください'
      ],
      textRules: [
        v => !!v || '必須です'
      ],
      dateMenu: false,
      rtnMsg: ''
    }
  },
  methods: {
    submit () {
      this.$store.dispatch('postData', this.form)
    }
  },
  created () {

  }
}
</script>
