<template>
  <div>
    <v-data-table :headers="headers" :items="items" class="elevation-1">
      <template v-slot:items="props">
        <td class="text-xs-left">{{ formatDate(props.item.when) }}</td>
        <td class="text-xs-left">{{ props.item.what }}</td>
        <td class="text-xs-left">{{ props.item.cost }}円</td>
        <td class="text-xs-left">{{ props.item.who }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <span>データを追加してください</span>
    </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      headers: [
        { text: '日付', align: 'left', value: 'name' },
        { text: '買ったもの', value: 'what' },
        { text: 'お金', value: 'cost' },
        { text: '買った人', value: 'who' },
        { text: '', value: 'name', align: 'center', sortable: false }
      ]
    }
  },
  computed: mapState(['currentCategory', 'items']),
  methods: {
    formatDate (timestamp) {
      let date = new Date(timestamp.seconds * 1000)
      return (date.getMonth() + 1) + '/' + date.getDate()
    }
  },
  created () {

  }
}
</script>

<style>
table.v-table thead tr {
    height: 30px;
}
table.v-table tbody td, table.v-table tbody th {
    height: 40px;
}
</style>
