<template>
  <v-app id="inspire">

    <!-- カテゴリー表示 -->
    <v-navigation-drawer v-model="drawer" fixed app width="200px">
      <v-list dense>
        <template v-for="category in categories">

            <v-list-tile :key="category.id" @click="selectCategory(category.id)"
              :class="category.id==currentCategory.id?'blue lighten-4':''">
              <v-list-tile-action>
                <v-icon>home</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title class="nav-link">{{category.name}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

        </template>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{familyName}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer color="indigo" app></v-footer>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  components: {
  },
  computed: {
    ...mapState([
      'familyName',
      'categories',
      'currentCategory'
    ])
  },
  data () {
    return {
      drawer: false
    }
  },
  methods: {
    selectCategory (categoryId) {
      this.$store.dispatch('setCategory', categoryId)
      this.drawer = false
    }
  },
  mounted () {
  },
  created () {
    this.$store.dispatch('init', this.$route.params.categoryId)
  }
}
</script>

<style>
a {
  text-decoration: none;
}
a .nav-link{
  color: grey;
}
</style>
